html {
    font-family: 'Oxanium', cursive;
}

button {
    font-size: 1.2rem;
}

button[id="reset"] {
    font-size: 2rem;
}

body {
    margin: 0;
    opacity: 0;
    transition: opacity 0.75s ease-in;
    background-color: #eaeaea;
}

#reset {
    border: thin solid red;
    border-radius: 3px;
    color: black;
}

#cookie {
    transition: all 0.25s ease-in-out;
}

#cookie:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.5rem black);
}


.grid-container__disabled-button {
    border: thin solid gray;
    border-radius: 3px;
    color: gray;
}

.grid-container__enabled-button {
    border: thin solid darkgreen;
    border-radius: 3px;
    color: black;
}

.flex-container__grid-container > .grid-container__cookie {
    grid-area: cookie;
}

.flex-container__grid-container > .grid-container__companions {
    grid-area: companions;
}

.flex-container__grid-container > .grid-container__multiplier {
    grid-area: multiplier;
}

.grid-container__reset {
    grid-area: reset;
    justify-self: stretch;
}

.flex-container__grid-container {
    flex: 1;
    display: grid;
    grid-template-areas: "cookie . companions multiplier" "cookie . companions multiplier" "reset reset reset reset";
    align-items: center;
    justify-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-container__header a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

.flex-container__header {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.element__tooltip {
    position: relative;
    display: inline-block;
}

.element__tooltip:hover .element__tooltip__text {
    visibility: visible;
    opacity: 1;
}

.element__tooltip .element__tooltip__text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    margin-left: -45px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.element__tooltip__text {
    background-color: black;
    border: thin solid black;
    border-radius: 3px;
    color: white;
    width: 300px;
    top: 100%;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
}

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s ease-in-out;
}

.modal__content {
    position: relative;
    margin: 40vh 40vh 30vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    border: thin solid #eaeaea;
    border-radius: 4px;
    background-color: #eaeaea;
}