html {
    font-family: 'Oxanium', cursive;
}

button {
    font-size: 1.2rem;
}

button[id="reset"] {
    font-size: 2rem;
}

body {
    margin: 0;
    opacity: 0;
    transition: opacity 0.75s ease-in;
}

#reset {
    border: thin solid red;
    border-radius: 3px;
    color: black;
}

#cookie {
    transition: all 0.25s ease-in-out;
}

#cookie:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.5rem black);
}


.grid-container__disabled-button {
    border: thin solid gray;
    border-radius: 3px;
    color: gray;
}

.grid-container__enabled-button {
    border: thin solid darkgreen;
    border-radius: 3px;
    color: black;
}

.flex-container__grid-container > .grid-container__cookie {
    grid-area: cookie;
}

.flex-container__grid-container > .grid-container__companions {
    grid-area: companions;
}

.flex-container__grid-container > .grid-container__multiplier {
    grid-area: multiplier;
}

.grid-container__reset {
    grid-area: reset;
    justify-self: stretch;
}

.flex-container__grid-container {
    flex: 1;
    display: grid;
    grid-template-areas: "cookie . companions multiplier" "cookie . companions multiplier" "reset reset reset reset";
    align-items: center;
    justify-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

